In [23]:
#Import Dependencies
import pandas as pd

In [24]:
zip_codes = pd.read_csv('data_sources/free-zipcode-database.csv')
zip_codes.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,RecordNumber,Zipcode,ZipCodeType,City,State,LocationType,Lat,Long,Xaxis,Yaxis,Zaxis,WorldRegion,Country,LocationText,Location,Decommisioned,TaxReturnsFiled,EstimatedPopulation,TotalWages,Notes
0,1,704,STANDARD,PARC PARQUE,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Parc Parque, PR",NA-US-PR-PARC PARQUE,False,NaN,NaN,NaN,NaN
1,2,704,STANDARD,PASEO COSTA DEL SUR,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Paseo Costa Del Sur, PR",NA-US-PR-PASEO COSTA DEL SUR,False,NaN,NaN,NaN,NaN
2,3,704,STANDARD,SECT LANAUSSE,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Sect Lanausse, PR",NA-US-PR-SECT LANAUSSE,False,NaN,NaN,NaN,NaN
3,4,704,STANDARD,URB EUGENE RICE,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Urb Eugene Rice, PR",NA-US-PR-URB EUGENE RICE,False,NaN,NaN,NaN,NaN
4,5,704,STANDARD,URB GONZALEZ,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Urb Gonzalez, PR",NA-US-PR-URB GONZALEZ,False,NaN,NaN,NaN,NaN

In [25]:
del zip_codes['LocationType']
del zip_codes['Xaxis']
del zip_codes['WorldRegion']
del zip_codes['LocationText']
del zip_codes['TaxReturnsFiled']
del zip_codes['TotalWages']
del zip_codes['Notes']
del zip_codes['Yaxis']
del zip_codes['Zaxis']

zip_codes.head()

,RecordNumber,Zipcode,ZipCodeType,City,State,Lat,Long,Country,Location,Decommisioned,EstimatedPopulation
0,1,704,STANDARD,PARC PARQUE,PR,17.96,-66.22,US,NA-US-PR-PARC PARQUE,False,NaN
1,2,704,STANDARD,PASEO COSTA DEL SUR,PR,17.96,-66.22,US,NA-US-PR-PASEO COSTA DEL SUR,False,NaN
2,3,704,STANDARD,SECT LANAUSSE,PR,17.96,-66.22,US,NA-US-PR-SECT LANAUSSE,False,NaN
3,4,704,STANDARD,URB EUGENE RICE,PR,17.96,-66.22,US,NA-US-PR-URB EUGENE RICE,False,NaN
4,5,704,STANDARD,URB GONZALEZ,PR,17.96,-66.22,US,NA-US-PR-URB GONZALEZ,False,NaN

In [26]:
tx_zip_codes = zip_codes.loc[zip_codes['State'] == 'TX', :]
tx_zip_codes["City"].value_counts()

HOUSTON                       190
EL PASO                       140
DALLAS                        121
SAN ANTONIO                    89
AUSTIN                         81
FT WORTH                       60
FORT WORTH                     60
CORPUS CHRISTI                 39
CRP CHRISTI                    39
AMARILLO                       28
LUBBOCK                        27
ARLINGTON                      19
WACO                           18
TYLER                          15
BEAUMONT                       15
SPRING                         13
MIDLAND                        11
THE WOODLANDS                  11
IRVING                         11
ABILENE                        11
KILLEEN                        10
GARLAND                        10
DENTON                         10
ODESSA                          9
LONGVIEW                        9
WICHITA FALLS                   9
PLANO                           9
PASADENA                        8
CONROE                          8
LAREDO                          8
                             ...
DAINGERFIELD                    1
WEESATCHE                       1
DIMMITT                         1
KARNES CITY                     1
TIMBER COVE                     1
ATLANTA                         1
NEW SUMMERFIELD                 1
RACHAL                          1
PEACOCK                         1
BELOTT                          1
CARMONA                         1
ORE CITY                        1
LAKESIDE CITY                   1
CITY BY THE SEA                 1
ANTON                           1
TEXAS WORKFORCE COMMISSION      1
GRANJENO                        1
SAN DIEGO                       1
NIGTON                          1
NEW DEAL                        1
BRIARY                          1
ECLETO                          1
GALENA PARK                     1
VETERANS ADMINISTRATION         1
NEW CLARKSON                    1
MIRANDO CITY                    1
HOLLYWOOD PARK                  1
BASCOM                          1
WEST TAWAKONI                   1
BROOKS AFB BRANCH               1
Name: City, Length: 3091, dtype: int64

In [27]:
aus_zip_codes = tx_zip_codes.loc[tx_zip_codes['City'] == "AUSTIN" , : ]
aus_zip_codes.head()

,RecordNumber,Zipcode,ZipCodeType,City,State,Lat,Long,Country,Location,Decommisioned,EstimatedPopulation
62761,62762,73301,UNIQUE,AUSTIN,TX,30.26,-97.74,US,NA-US-TX-AUSTIN,False,1912.0
62763,62764,73344,UNIQUE,AUSTIN,TX,30.26,-97.74,US,NA-US-TX-AUSTIN,False,NaN
62765,62766,78701,STANDARD,AUSTIN,TX,30.26,-97.74,US,NA-US-TX-AUSTIN,False,4614.0
62766,62767,78702,STANDARD,AUSTIN,TX,30.26,-97.74,US,NA-US-TX-AUSTIN,False,14748.0
62767,62768,78703,STANDARD,AUSTIN,TX,30.26,-97.74,US,NA-US-TX-AUSTIN,False,15681.0

In [28]:
#Create CSV Files From DataFrames

aus_zip_codes.to_csv("data_sources/aus_zip_codes.csv")
tx_zip_codes.to_csv("data_sources/tx_zip_codes.csv")
zip_codes.to_csv("data_sources/clean_zip_codes.csv")