In [15]:
import pandas as pd

In [16]:
bar_df = pd.read_csv('data_sources/Atx_bar.csv')
club_df = pd.read_csv('data_sources/Atx_club.csv')
rest_df = pd.read_csv('data_sources/Atx_restaurant.csv')
bar_df.head()

,Unnamed: 0,barName,Zip code,barRating,barlatitude,barlongitude
0,0,Hideaway Kitchen & Bar,78744,4.5,30.211650,-97.752810
1,1,Crow Bar,78704,3.5,30.231340,-97.759610
2,2,St Elmo Brewing Company,78745,4.5,30.217449,-97.761048
3,3,Rewind,78741,3.0,30.475882,-97.673157
4,4,Warehouse Billiard Bar,78704,3.5,30.218559,-97.757683

In [17]:
club_df.head()

,Unnamed: 0,Club Name,Zip code,Club Rating,Club latitude,Club longitude
0,0,Plush,78701,4.0,30.267255,-97.736745
1,1,Kingdom,78701,3.5,30.266647,-97.742493
2,2,Ethics Music Lounge,78701,3.5,30.267049,-97.743547
3,3,Elysium,78701,4.0,30.267660,-97.736570
4,4,Barbarella,78701,3.0,30.267050,-97.736760

In [18]:
#Get Rid of Useless Columns

del bar_df['Unnamed: 0']
#del bar_df['barlatitude']
#del bar_df['barlongitude']
del bar_df['barName']
del club_df['Unnamed: 0']
#del club_df['Club latitude']
#del club_df['Club longitude']
del club_df['Club Name']
del rest_df['Unnamed: 0']
#del rest_df['Restaurant_latitude']
#del rest_df['Restaurant_longitude']
del rest_df['Restaurant_Name']
bar_df.head()

   Zip code  barRating  barlatitude  barlongitude
0     78744        4.5    30.211650    -97.752810
1     78704        3.5    30.231340    -97.759610
2     78745        4.5    30.217449    -97.761048
3     78741        3.0    30.475882    -97.673157
4     78704        3.5    30.218559    -97.757683

In [19]:
#Group By Count and Average by ZipCode for totals and avg rating

bar_count = bar_df.groupby(['Zip code']).count()
bar_avg = bar_df.groupby(['Zip code']).mean()
club_count = club_df.groupby(['Zip code']).count()
club_avg = club_df.groupby(['Zip code']).mean()
rest_count = rest_df.groupby(['Zip code']).count()
rest_avg = rest_df.groupby(['Zip code']).mean()

bar_avg.head()

          barRating  barlatitude  barlongitude
Zip code
78617      3.000000    30.201016    -97.665245
78660      3.000000    30.453564    -97.666575
78664      3.500000    30.529130    -97.683000
78701      4.265464    30.268107    -97.742219
78702      4.367925    30.264577    -97.721186

In [20]:
#Merge Like DFs

rest_merge = pd.merge(rest_count, rest_avg, on= 'Zip code')
bar_merge = pd.merge(bar_count, bar_avg, on= 'Zip code')
club_merge = pd.merge(club_count, club_avg, on= 'Zip code')

In [23]:
#Merge All DFs

rest_bar = pd.merge(rest_merge, bar_merge, on = 'Zip code', how = 'outer')
nightlife_df = pd.merge(rest_bar, club_merge, on = 'Zip code', how = 'outer')
nightlife_df

,Restaurant_Rating_x,Restaurant_latitude_x,Restaurant_longitude_x,Restaurant_Rating_y,Restaurant_latitude_y,Restaurant_longitude_y,barRating_x,barlatitude_x,barlongitude_x,barRating_y,barlatitude_y,barlongitude_y,Club Rating_x,Club latitude_x,Club longitude_x,Club Rating_y,Club latitude_y,Club longitude_y
Zip code,,,,,,,,,,,,,,,,,,
73301,3.0,3.0,3.0,4.500000,30.220098,-97.749046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78617,1.0,1.0,1.0,4.000000,30.199773,-97.664926,2.0,2.0,2.0,3.000000,30.201016,-97.665245,NaN,NaN,NaN,NaN,NaN,NaN
78646,2.0,2.0,2.0,4.500000,30.273205,-97.800709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78660,4.0,4.0,4.0,3.125000,30.447061,-97.666504,2.0,2.0,2.0,3.000000,30.453564,-97.666575,NaN,NaN,NaN,NaN,NaN,NaN
78701,201.0,201.0,201.0,4.186567,30.266922,-97.742419,194.0,194.0,194.0,4.265464,30.268107,-97.742219,223.0,223.0,223.0,3.376682,30.267238,-97.741325
78702,99.0,99.0,99.0,4.368687,30.262951,-97.719628,106.0,106.0,106.0,4.367925,30.264577,-97.721186,14.0,14.0,14.0,4.071429,30.265720,-97.721989
78703,48.0,48.0,48.0,3.927083,30.293970,-97.761540,19.0,19.0,19.0,3.894737,30.288018,-97.767579,1.0,1.0,1.0,4.500000,30.274130,-97.763330
78704,42.0,42.0,42.0,4.345238,30.238998,-97.759877,34.0,34.0,34.0,3.882353,30.240531,-97.758927,13.0,13.0,13.0,4.192308,30.258051,-97.754039
78705,139.0,139.0,139.0,4.388489,30.292688,-97.742872,142.0,142.0,142.0,3.742958,30.293667,-97.742570,15.0,15.0,15.0,5.000000,30.287830,-97.748200
78717,19.0,19.0,19.0,3.263158,30.491283,-97.772387,3.0,3.0,3.0,3.833333,30.494248,-97.773661,NaN,NaN,NaN,NaN,NaN,NaN
78719,11.0,11.0,11.0,2.863636,30.202163,-97.667498,8.0,8.0,8.0,2.562500,30.202146,-97.667778,NaN,NaN,NaN,NaN,NaN,NaN
78721,5.0,5.0,5.0,4.300000,30.277055,-97.686499,1.0,1.0,1.0,4.000000,30.279572,-97.681590,NaN,NaN,NaN,NaN,NaN,NaN
78722,22.0,22.0,22.0,4.477273,30.285934,-97.716580,15.0,15.0,15.0,4.200000,30.284969,-97.716045,2.0,2.0,2.0,4.500000,30.284621,-97.704910
78723,32.0,32.0,32.0,3.984375,30.305749,-97.701331,24.0,24.0,24.0,3.791667,30.301487,-97.705196,NaN,NaN,NaN,NaN,NaN,NaN
78724,6.0,6.0,6.0,2.500000,30.322507,-97.653322,1.0,1.0,1.0,1.000000,30.325682,-97.657669,1.0,1.0,1.0,2.500000,30.290050,-97.628190
78726,15.0,15.0,15.0,3.633333,30.424982,-97.843230,2.0,2.0,2.0,3.750000,30.418793,-97.848308,NaN,NaN,NaN,NaN,NaN,NaN
78727,14.0,14.0,14.0,3.642857,30.425651,-97.707378,2.0,2.0,2.0,3.500000,30.426165,-97.726010,NaN,NaN,NaN,NaN,NaN,NaN
78728,14.0,14.0,14.0,3.928571,30.442242,-97.682759,4.0,4.0,4.0,3.625000,30.439365,-97.681719,NaN,NaN,NaN,NaN,NaN,NaN
78729,10.0,10.0,10.0,4.200000,30.452151,-97.772668,9.0,9.0,9.0,4.111111,30.446113,-97.776745,3.0,3.0,3.0,3.833333,30.450417,-97.780361
78731,23.0,23.0,23.0,4.195652,30.349569,-97.755671,2.0,2.0,2.0,3.500000,30.355045,-97.755592,NaN,NaN,NaN,NaN,NaN,NaN
78732,8.0,8.0,8.0,3.687500,30.383266,-97.886228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78733,1.0,1.0,1.0,4.000000,30.332690,-97.885200,1.0,1.0,1.0,3.000000,30.325768,-97.882004,NaN,NaN,NaN,NaN,NaN,NaN
78734,4.0,4.0,4.0,3.125000,30.387318,-97.944723,2.0,2.0,2.0,3.500000,30.378413,-97.952994,NaN,NaN,NaN,NaN,NaN,NaN
78735,19.0,19.0,19.0,3.736842,30.240186,-97.860149,6.0,6.0,6.0,3.333333,30.235225,-97.860451,2.0,2.0,2.0,3.500000,30.236346,-97.856178
78736,6.0,6.0,6.0,4.083333,30.231742,-97.927326,1.0,1.0,1.0,4.500000,30.231237,-97.927312,NaN,NaN,NaN,NaN,NaN,NaN
78737,5.0,5.0,5.0,4.500000,30.210190,-97.963088,1.0,1.0,1.0,3.500000,30.210655,-97.968864,NaN,NaN,NaN,NaN,NaN,NaN
78738,20.0,20.0,20.0,3.875000,30.309853,-97.943210,11.0,11.0,11.0,3.272727,30.308560,-97.941368,NaN,NaN,NaN,NaN,NaN,NaN
78739,1.0,1.0,1.0,3.500000,30.199722,-97.869529,1.0,1.0,1.0,3.500000,30.199722,-97.869529,NaN,NaN,NaN,NaN,NaN,NaN
78741,33.0,33.0,33.0,4.151515,30.231582,-97.727650,23.0,23.0,23.0,3.434783,30.263862,-97.723561,1.0,1.0,1.0,3.000000,30.240220,-97.728080
78744,38.0,38.0,38.0,3.842105,30.201630,-97.737240,5.0,5.0,5.0,4.400000,30.211947,-97.734042,2.0,2.0,2.0,4.500000,30.211930,-97.729619
78745,49.0,49.0,49.0,4.122449,30.209436,-97.793199,12.0,12.0,12.0,4.000000,30.211687,-97.781862,NaN,NaN,NaN,NaN,NaN,NaN
78746,32.0,32.0,32.0,4.046875,30.272416,-97.803441,3.0,3.0,3.0,3.666667,30.271544,-97.805771,NaN,NaN,NaN,NaN,NaN,NaN
78747,1.0,1.0,1.0,2.500000,30.157380,-97.744213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78748,24.0,24.0,24.0,3.895833,30.173414,-97.830779,4.0,4.0,4.0,3.500000,30.171030,-97.826424,NaN,NaN,NaN,NaN,NaN,NaN
78749,32.0,32.0,32.0,3.531250,30.217277,-97.850852,9.0,9.0,9.0,3.722222,30.214440,-97.854009,NaN,NaN,NaN,NaN,NaN,NaN
78750,31.0,31.0,31.0,3.983871,30.450202,-97.791509,5.0,5.0,5.0,3.800000,30.457122,-97.799799,NaN,NaN,NaN,NaN,NaN,NaN
78751,24.0,24.0,24.0,4.333333,30.313134,-97.720561,38.0,38.0,38.0,3.894737,30.313474,-97.722139,NaN,NaN,NaN,NaN,NaN,NaN
78752,53.0,53.0,53.0,4.122642,30.331829,-97.712419,41.0,41.0,41.0,3.402439,30.332643,-97.709734,2.0,2.0,2.0,3.000000,30.329298,-97.690437
78753,37.0,37.0,37.0,4.148649,30.375824,-97.681605,18.0,18.0,18.0,3.583333,30.377650,-97.689347,1.0,1.0,1.0,5.000000,30.388987,-97.671089
78754,10.0,10.0,10.0,4.150000,30.346765,-97.672943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78755,1.0,1.0,1.0,5.000000,30.354160,-97.754960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78756,93.0,93.0,93.0,4.225806,30.319498,-97.740081,59.0,59.0,59.0,3.940678,30.316296,-97.740876,NaN,NaN,NaN,NaN,NaN,NaN
78757,45.0,45.0,45.0,4.211111,30.354986,-97.735616,44.0,44.0,44.0,3.931818,30.353250,-97.732685,NaN,NaN,NaN,NaN,NaN,NaN
78758,68.0,68.0,68.0,4.161765,30.395407,-97.718187,53.0,53.0,53.0,3.650943,30.397776,-97.719294,6.0,6.0,6.0,3.250000,30.397838,-97.721562
78759,41.0,41.0,41.0,4.085366,30.409063,-97.752627,16.0,16.0,16.0,3.812500,30.407430,-97.748634,NaN,NaN,NaN,NaN,NaN,NaN
78798,2.0,2.0,2.0,4.000000,30.275192,-97.739563,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,2.000000,30.266944,-97.742778
78664,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.0,3.500000,30.529130,-97.683000,NaN,NaN,NaN,NaN,NaN,NaN
78713,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,4.500000,30.286123,-97.741070,NaN,NaN,NaN,NaN,NaN,NaN
78742,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,3.000000,30.228610,-97.663906,NaN,NaN,NaN,NaN,NaN,NaN
78765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,5.000000,30.298709,-97.725207
78799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,11.0,11.0,3.500000,30.267557,-97.740990

In [28]:
#Reset Index
#nightlife_df = nightlife_df.reset_index()

#Delete Useless Columns

#del nightlife_df['Restaurant_latitude_x']
#del nightlife_df['Restaurant_longitude_x']
#del nightlife_df['barlatitude_x']
#del nightlife_df['barlongitude_x']
#del nightlife_df['Club latitude_x']
#del nightlife_df['Club longitude_x']


#Rename all the columns

nightlife_df.columns = ['Zip Code','Restaurant Count', 'Restaurant Rating', 'Restaurant Latitude',
                        'Restaurant Longitude', 'Bar Count', 'Bar Rating', 'Bar Latitude', 'Bar Longitude',
                        'Club Count', 'Club Rating', 'Club Latitude', 'Club Longitude']
nightlife_df.head()

,Zip Code,Restaurant Count,Restaurant Rating,Restaurant Latitude,Restaurant Longitude,Bar Count,Bar Rating,Bar Latitude,Bar Longitude,Club Count,Club Rating,Club Latitude,Club Longitude
0,73301,3.0,4.500000,30.220098,-97.749046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,78617,1.0,4.000000,30.199773,-97.664926,2.0,3.000000,30.201016,-97.665245,NaN,NaN,NaN,NaN
2,78646,2.0,4.500000,30.273205,-97.800709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,78660,4.0,3.125000,30.447061,-97.666504,2.0,3.000000,30.453564,-97.666575,NaN,NaN,NaN,NaN
4,78701,201.0,4.186567,30.266922,-97.742419,194.0,4.265464,30.268107,-97.742219,223.0,3.376682,30.267238,-97.741325

In [30]:
#Fill Na Values with Zeroes

nightlife_df = nightlife_df.fillna(0)

nightlife_df['Latitude'] = nightlife_df.loc[nightlife_df['Club Latitude'] != 0]
nightlife_df['Latitude'] = nightlife_df.loc[nightlife_df['Bar Latitude'] != 0]
nightlife_df['Latitude'] = nightlife_df.loc[nightlife_df['Restaurant Latitude'] != 0]

nightlife_df.head()

ValueError: Wrong number of items passed 13, placement implies 1

In [11]:
#Add Bar and Restaurant Combined

nightlife_df['Bar/Restaurant Count'] = (nightlife_df['Restaurant Count'] + nightlife_df['Bar Count']
                                         + nightlife_df['Club Count'])

#Just Bars and Restaurants

nightlife_df['Bar/Restaurant Rating'] = (((nightlife_df['Restaurant Rating'] * nightlife_df['Restaurant Count'])
                                   +(nightlife_df['Bar Rating'] * nightlife_df['Bar Count']))/nightlife_df['Bar/Restaurant Count']) * 2

#Add Total Count Column

nightlife_df['Total Nightlife Count'] = (nightlife_df['Restaurant Count'] + nightlife_df['Bar Count']
                                         + nightlife_df['Club Count'])

In [12]:
#Add Total Rating Column

nightlife_df['Combined Rating'] = (((nightlife_df['Restaurant Rating'] * nightlife_df['Restaurant Count'])
                                   +(nightlife_df['Bar Rating'] * nightlife_df['Bar Count']) +
    (nightlife_df['Club Rating'] * nightlife_df['Club Count']))/nightlife_df['Total Nightlife Count']) * 2

In [13]:
nightlife_df.head()

,Zip Code,Restaurant Count,Restaurant Rating,Bar Count,Bar Rating,Club Count,Club Rating,Bar/Restaurant Count,Bar/Restaurant Rating,Total Nightlife Count,Combined Rating
0,73301,3.0,4.500000,0.0,0.000000,0.0,0.000000,3.0,9.000000,3.0,9.000000
1,78617,1.0,4.000000,2.0,3.000000,0.0,0.000000,3.0,6.666667,3.0,6.666667
2,78646,2.0,4.500000,0.0,0.000000,0.0,0.000000,2.0,9.000000,2.0,9.000000
3,78660,4.0,3.125000,2.0,3.000000,0.0,0.000000,6.0,6.166667,6.0,6.166667
4,78701,201.0,4.186567,194.0,4.265464,223.0,3.376682,618.0,5.401294,618.0,7.838188

In [14]:
#Export to CSV

nightlife_df.to_csv('data_sources/nightlife_data_combined.csv')